
<section class="max-w-7xl mx-auto px-6 py-24">

  <div class="flex items-center justify-between mb-10">
    <h3 class="text-3xl font-bold text-(--text-main)">
      Recommended courses for you
    </h3>

    <button
      class="text-sm font-medium
             text-(--primary)
             hover:underline">
      Explore courses →
    </button>
  </div>

  <p-carousel
    [value]="courses"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [showIndicators]="false"
    [showNavigators]="true"
    class="custom-carousel">

    <ng-template pTemplate="item" let-course>

      <div
        class="mx-3 bg-(--bg-card)
               border border-(--border-color)
               rounded-2xl overflow-hidden
               transition
               hover:-translate-y-2
               hover:shadow-2xl">

        <div class="relative">
          <img
            [src]="course.image"
            class="w-full h-48 object-cover" />

      <button
  class="absolute top-3 right-3
         w-9 h-9
         rounded-full
         bg-white/90
         flex items-center justify-center
         text-sm">
  <svg xmlns="http://www.w3.org/2000/svg"
       fill="currentColor" viewBox="0 0 24 24"
       class="w-5 h-5 text-red-500">
    <path d="M12 21.35l-1.45-1.32C5.4 15.36
             2 12.28 2 8.5 2 5.42 4.42 3
             7.5 3c1.74 0 3.41.81 4.5
             2.09C13.09 3.81 14.76 3
             16.5 3 19.58 3 22 5.42
             22 8.5c0 3.78-3.4 6.86-8.55
             11.54L12 21.35z"/>
  </svg>
</button>
        </div>

        <div class="p-5">

          <h4 class="font-semibold text-base mb-1">
            {{ course.title }}
          </h4>

          <p class="text-sm text-(--text-muted) mb-3">
            {{ course.author }}
          </p>

      <div class="flex items-center gap-4 text-sm text-(--text-muted) mb-3">
  <span class="flex items-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none" viewBox="0 0 24 24"
         stroke-width="1.5" stroke="currentColor"
         class="w-4 h-4">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 6v6l4 2m6-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    {{ course.hours }}h {{ course.minutes }}m
  </span>

  <span class="flex items-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="currentColor" viewBox="0 0 24 24"
         class="w-4 h-4">
      <path d="M12 17.27L18.18 21l-1.64-7.03L22
               9.24l-7.19-.61L12 2 9.19 8.63
               2 9.24l5.46 4.73L5.82 21z"/>
    </svg>
    {{ course.rating }}
  </span>
</div>

          <!-- <div class="flex items-center gap-2">
            <span class="text-lg font-semibold text-(--primary)">
              Rs. {{ course.price }}
            </span>
            @if (course.oldPrice) {
              <span class="text-sm line-through text-(--text-muted)">
                Rs. {{ course.oldPrice }}
              </span>
            }
          </div> -->

        </div>

      </div>

    </ng-template>

  </p-carousel>

</section>
