<header
  class="h-16 flex items-center justify-between px-6
         bg-(--bg-card)
         border-b border-(--border-color)">

 <button
  class="relative w-10 h-10 flex items-center justify-center md:hidden"
  (click)="menuToggle.emit()">

  <!-- Top bar -->
  <span
    class="absolute h-0.5 w-6 bg-(--text-main)
           transition-all duration-300"
    [class.translate-y-[-6px]]="!sidebarOpen"
    [class.rotate-45]="sidebarOpen">
  </span>

  <!-- Middle bar -->
  <span
    class="absolute h-0.5 w-6 bg-(--text-main)
           transition-all duration-300"
    [class.opacity-0]="sidebarOpen">
  </span>

  <!-- Bottom bar -->
  <span
    class="absolute h-0.5 w-6 bg-(--text-main)
           transition-all duration-300"
    [class.translate-y-[6px]]="!sidebarOpen"
    [class.-rotate-45]="sidebarOpen">
  </span>

</button>


  <div class="ml-auto flex items-center gap-4">
      <button
    (click)="theme.toggleTheme()"
    class="px-4 py-2 text-(--text-main) "
  >
    {{ theme.isDarkMode() ? '🌙 Dark' : '🌞 Light' }}
  </button>
    <span class="hidden sm:block text-sm text-(--text-muted)">
      {{ auth.user()?.fullName }}
    </span>

    <button
      class="px-4 py-2 rounded-lg
             bg-(--primary)
             text-(--text-inverse)
             text-sm"
             (click)="logout()">
      Logout
    </button>
  </div>

</header>
